@{
    ViewBag.Title = "Index";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>THAHAVURU Face Recognition</title>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Stylesheet/UICSS/modern.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/UIScript/dropdown.js")" ></script>
<style type="text/css">
body {
	margin:0px 0px; padding:0px;
	text-align:center;
	}
	
#Content {
	width:800px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	/*border:1px dashed #333;*/
	background-color:#eee;
	}
</style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("input").change(function (e) {

                for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
                    var file = e.originalEvent.srcElement.files[i];

                    var img = document.getElementById("inputImage");
                    img.height = 105;
                    //img.width = 220;

                    var reader = new FileReader();
                    reader.onloadend = function () {
                        img.src = reader.result;
                    }
                    reader.readAsDataURL(file);
                    //$("#ImageDiv").after(img);
                    //$("#inputImage").attr(img);
                    //$("#inputImage").css("visibility", "collapse");
                }
            });
        });
    </script>


    
@*<script type="text/javascript">
    $(function () {
        $("#ajaxUploadForm").ajaxForm({
            iframe: true,
            dataType: "json",
            beforeSubmit: function () {
                $("#ajaxUploadForm").block({ message: '<h1><img src="/Content/busy.gif" /> Uploading file...</h1>' });
            },
            success: function (result) {
                $("#ajaxUploadForm").unblock();
                $("#ajaxUploadForm").resetForm();
                $.growlUI(null, result.message);
            },
            error: function (xhr, textStatus, errorThrown) {
                $("#ajaxUploadForm").unblock();
                $("#ajaxUploadForm").resetForm();
                $.growlUI(null, 'Error uploading file');
            }
        });

    });

</script>*@

</head>

<body class="metrouicss">
    <div id="Content" >
        <div class="page">
            <div class="page-header" style="height:60px">
                <div class="page-header-content" >
                    <div class="nav-bar" style="height:50px;">
                        <div class="nav-bar-inner" style="height:50px;">
                            <span class="element" style="height:40px; width:180px">
                      	    <img src="@Url.Content("~/Content/Images/logo.png")"/>
                            </span>
             
                            <span class="divider"></span>
             
                            <ul class="menu">
                                <li data-role="dropdown">
                                    <a href="#">Item 1</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">SubItem</a></li>
                                        <li><a href="#">SubItem</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Item 2</a></li>
                                <li class="divider"></li>
                                <li><a /></li>
                            </ul>
                        </div>
                    </div>
                    </div>
            
            </div>
 
            <div class="page-region">
                <div class="page-region-content">
                     @*<div class="progress-bar">
                        <div class="bar bg-color-blue" style="width: 100%"></div>
                    </div>*@
                    
                    <div>
                        <h1>Upload Face Image</h1>
                    </div>
                    <table >
                        <tr>
                            <td style="width:250px; border:0;">
                                <div class="image-collection p4x3" style="width:170px">
                                    <div id="ImageDiv">
                                        <img id="inputImage" style="visibility:visible"/>
                                    </div>
                                </div>
                            </td>
                            <td  style="border:0;">
                                <form id="ajaxUploadForm" action="@Url.Action("AjaxUpload", "Home")" method="post" enctype="multipart/form-data">
                                        <button type="button" onclick="document.getElementById('ImageUpload').click();"> Select</button>
                                        <input id="ajaxUploadButton" type="submit" value="Submit" />
                                        <div><input type="file" name="file" id="ImageUpload" style="display:none"/></div>
                                 </form>
                            </td>
                        </tr>
                    </table>
                    
                    <table>
                        <tr>
                            <td style="border:0;">
                                <div class="progress-bar">
                                    <div class="bar bg-color-blue" style="width: 100%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="border:0;">
                                <div class="image-collection p4x3">
                                    <div><img/></div>
                                    <div><img/></div>
                                    <div><img/></div>
                                    <div><img/></div>
                                    <div><img/></div>
                                    <div><img/></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    

                </div>
            </div>
        </div>
    </div>
</body>
</html>